include helpers/variables
include helpers/mixins

include ../blocks/page/page
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/breadcrumb/breadcrumb
include ../blocks/nav-meta/nav-meta
include ../blocks/line-chart/line-chart
include ../blocks/form-transfer/form-transfer
include ../blocks/help/help

- $.title = `${pageList.wallet.title} - ${$.package.description}`;

+page.--theme-dark
  +header.__header
  +e.__main
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid
          .row
            .col-9.mt-40.d-flex.align-items-start
              +b.H1.title.__title #[strong #Meta]Wallet
              +breadcrumb(['My Wallets', 'Transfer', 'History', 'Settings']).__breadcrumb.mt-30.ml-50
            .col-3.mt-10.d-flex.flex-column.align-items-end
              +logo.__logo.mb-30
              +b.NAV.menu-user.__menu-user.mw-100
                +e.A.__item--login
                  +isvg#user.__item-icon
                  | User Login
                +e.A.__item(href=js)
                  | Logout
                +e.__item-lang
                  +b.SELECT.select-sm
                    option EN
                    option RU
      .container-fluid
        +nav-meta.mb-70
      +line-chart({"width": "100%", "height": 210, "fill": "#003D69", "stroke": "url(#line-chart)", "strokeWidth": 2}).--theme-blue
      +b.SECTION.subsection
        .container-fluid
          +e.HEADER.__header.mb-25
            .row.align-items-center
              .col-auto.mw-100
                +e.H2.__title
                  +isvg#wallet.__title-icon
                  | My Wallets
              .col
                +b.A.btn--light(href=js)
                  +isvg#plus.__icon
                  | Add wallet
              .col-auto.mw-100
                +b.A.btn--light(href=js)
                  +isvg#import.__icon
                  | Import wallet
              .col-auto.mw-100
                +b.A.btn--light(href=js)
                  +isvg#backup.__icon
                  | Wallet backup
          .row.mb-20
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-5.png')
                  +e.__head-col-2
                    +e.__title My wallet #1
                    +e.__sum
                      +e.SPAN.__num 0.00
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
                  +e.__body-hidden
                    +e.TEXTAREA.__desc Мой кошелек, собираю на пианино
                    +e.__actions
                      +e.A.__action.btn(href=js)
                        +isvg#edit.__action-icon
                        | Edit
                      +e.A.btn.__action.btn(href=js)
                        +isvg#copy.__action-icon
                        | Copy
                      +e.A.btn.__action.btn(href=js)
                        +isvg#qr-code.__action-icon
                        | QR code
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-1.png')
                  +e.__head-col-2
                    +e.__title Another strange wallet
                    +e.__sum
                      +e.SPAN.__num 126.00
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
                  +e.__body-hidden
                    +e.TEXTAREA.__desc Мой кошелек, собираю на пианино
                    +e.__actions
                      +e.A.__action.btn(href=js)
                        +isvg#edit.__action-icon
                        | Edit
                      +e.A.btn.__action.btn(href=js)
                        +isvg#copy.__action-icon
                        | Copy
                      +e.A.btn.__action.btn(href=js)
                        +isvg#qr-code.__action-icon
                        | QR code
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-2.png')
                  +e.__head-col-2
                    +e.__title My wallet #2
                    +e.__sum
                      +e.SPAN.__num 12.02
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
                  +e.__body-hidden
                    +e.TEXTAREA.__desc Мой кошелек, собираю на пианино
                    +e.__actions
                      +e.A.__action.btn(href=js)
                        +isvg#edit.__action-icon
                        | Edit
                      +e.A.btn.__action.btn(href=js)
                        +isvg#copy.__action-icon
                        | Copy
                      +e.A.btn.__action.btn(href=js)
                        +isvg#qr-code.__action-icon
                        | QR code
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-3.png')
                  +e.__head-col-2
                    +e.__title For my bae’s birthday
                    +e.__sum
                      +e.SPAN.__num 1,045,202.02
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
                  +e.__body-hidden
                    +e.TEXTAREA.__desc Мой кошелек, собираю на пианино
                    +e.__actions
                      +e.A.__action.btn(href=js)
                        +isvg#edit.__action-icon
                        | Edit
                      +e.A.btn.__action.btn(href=js)
                        +isvg#copy.__action-icon
                        | Copy
                      +e.A.btn.__action.btn(href=js)
                        +isvg#qr-code.__action-icon
                        | QR code
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-4.png')
                  +e.__head-col-2
                    +e.__title Default wallet
                    +e.__sum
                      +e.SPAN.__num 0.02
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
                  +e.__body-hidden
                    +e.TEXTAREA.__desc Мой кошелек, собираю на пианино
                    +e.__actions
                      +e.A.__action.btn(href=js)
                        +isvg#edit.__action-icon
                        | Edit
                      +e.A.btn.__action.btn(href=js)
                        +isvg#copy.__action-icon
                        | Copy
                      +e.A.btn.__action.btn(href=js)
                        +isvg#qr-code.__action-icon
                        | QR code
      +b.SECTION.subsection--dark
        .container-fluid
          +e.HEADER.__header.mb-25
            +e.H2.__title
              +isvg#transfer.__title-icon
              | Transfer
          +form-transfer.mb-45
          +b.SECTION.subsection--inner.mb-40
            +e.HEADER.__header.mb-20
              +e.H2.__title
                +isvg#time.__title-icon
                | Pending transfers
            +b.TABLE.table-data--pending-transfers
              thead
                tr
                  th From:
                  th To:
                  th Amount:
                  th Time:
                  th Status:
                  th More:
              tbody
                tr
                  +e.TD.__nowrap Default address
                  +e.TD.__blue.__nowrap 0x0e4599a990d32f60402a0f5f4594ddab28e761c9
                  td: strong 25.00&nbsp;#MHC
                  td: strong 00:02:15
                  td
                    +e.__status(title='Core node')
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit
                      +e.__status-unit
                      +e.__status-unit
                      +e.__status-lbl Core node
                  +e.TD.__blue: strong Blockchain info
                tr
                  +e.TD.__nowrap My address #2
                  +e.TD.__nowrap.__blue 0x0e4599a990d32f60402a0f5f4594ddab28e761c9
                  td: strong 5.00&nbsp;#MHC
                  td: strong 00:03:01
                  td
                    +e.__status--active(title='Verified')
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-lbl Verified
                  +e.TD.__blue: strong Blockchain info
      +b.SECTION.subsection--transparent
        .container-fluid
          +e.HEADER.__header.mb-25
            .row.ml-30-inv
              .col-auto.pl-30.mw-100
                +e.H2.__title
                  +isvg#history.__title-icon
                  | History
              .col.pl-30
                +b.NAV.nav-filters.__filters-history
                  +e.__inner
                    +e.A.__item--active(href='js') All transactions
                    +e.A.__item(href='js') Incoming
                    +e.A.__item(href='js') Outgoing
                    +e.A.__item(href='js')
                      +isvg#star.__item-icon
                      | Address book
          +b.TABLE.table-data--history-transfers
            thead
              tr
                th Date:
                th From:
                th To:
                th &nbsp;
                th Amount:
                th Time:
                th Notes:
            tbody
              tr
                td 06.03.2018
                +e.TD.__nowrap Default address
                +e.TD.__blue.__nowrap 0x0e4599a990d32f60402a0f5f4594ddab28e761c9
                td: +isvg#star.__favorites--active(title='Address book')
                td: strong 25.00&nbsp;#MHC
                td: strong 00:02:15
                +e.TD.__blue Blockchain info
              tr
                td 03.03.2018
                +e.TD.__blue.__nowrap 0x0e4599a990d32f60402a0f5f4594ddab28e761c9
                +e.TD.__nowrap My address #2
                td: +isvg#star.__favorites(title='Address book')
                +e.TD.__green: strong 5.00&nbsp;#MHC
                td: strong 00:03:01
                +e.TD.__green Forging reward
              tr
                td 03.03.2018
                +e.TD.__blue.__nowrap #MetaHash Network
                +e.TD.__nowrap Default address
                td: +isvg#star.__favorites(title='Address book')
                +e.TD.__pink: strong 25.00&nbsp;#MHC
                td: strong 00:03:01
                +e.TD.__pink Your wallet won daily special reward!
  +footer('inner').__footer