include helpers/variables
include helpers/mixins

include ../blocks/page/page
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/breadcrumb/breadcrumb
include ../blocks/nav-meta/nav-meta
include ../blocks/line-chart/line-chart
include ../blocks/form-transfer/form-transfer
include ../blocks/help/help

- $.title = `${pageList.wallet.title} - ${$.package.description}`;

+page.--theme-dark
  +header.__header
  +e.__main
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid
          .row
            .col-10.mt-40.d-flex.align-items-start
              +b.H1.title.__title #[strong #Meta]Wallet
              +breadcrumb(['My Wallets', 'Transfer', 'History', 'Settings']).__breadcrumb.mt-30.ml-50
            .col-2.mt-10.d-flex.flex-column.align-items-end
              +logo.__logo.mb-35
              +e.NAV.__actions
                +e.A.__actions-item(href=js)
                  +isvg#user.__actions-icon
                  | User Login
      .container-fluid
        +nav-meta.mb-70
      +line-chart({"width": "100%", "height": 210, "fill": "#003D69", "stroke": "url(#line-chart)", "strokeWidth": 2}).--theme-blue
      +b.SECTION.subsection
        .container-fluid
          +e.HEADER.__header.mb-25
            .row.align-items-center
              .col-auto
                +e.H2.__title
                  +isvg#wallet.__title-icon
                  | My Wallets
              .col
                +b.A.btn--light(href=js)
                  +isvg#plus.__icon
                  | Add wallet
              .col-auto
                +b.A.btn--light(href=js)
                  +isvg#import.__icon
                  | Import wallet
              .col-auto
                +b.A.btn--light(href=js)
                  +isvg#backup.__icon
                  | Wallet backup
          .row.mb-20
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-5.png')
                  +e.__head-col-2
                    +e.__title My wallet #1
                    +e.__sum
                      +e.SPAN.__num 0.00
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-1.png')
                  +e.__head-col-2
                    +e.__title Another strange wallet
                    +e.__sum
                      +e.SPAN.__num 126.00
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-2.png')
                  +e.__head-col-2
                    +e.__title My wallet #2
                    +e.__sum
                      +e.SPAN.__num 12.02
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-3.png')
                  +e.__head-col-2
                    +e.__title For my bae’s birthday
                    +e.__sum
                      +e.SPAN.__num 1,045,202.02
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                    +e.IMG.__img(src='upload/wallets/wallet-4.png')
                  +e.__head-col-2
                    +e.__title Default wallet
                    +e.__sum
                      +e.SPAN.__num 0.02
                      +e.SPAN.__currency #MHC
                  +isvg#angle-d.__head-icon
                +e.__body
                  +e.__number 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
      +b.SECTION.subsection--dark
        .container-fluid
          +e.HEADER.__header.mb-25
            +e.H2.__title
              +isvg#transfer.__title-icon
              | Transfer
          +form-transfer.mb-45
          +b.SECTION.subsection--inner.mb-40
            +e.HEADER.__header.mb-20
              +e.H2.__title
                +isvg#time.__title-icon
                | Pending transfers
            +b.TABLE.pending-transfers
              thead
                tr
                  th From:
                  th To:
                  th Amount:
                  th Time:
                  th Status:
                  th More:
              tbody
                tr
                  +e.TD.__nowrap Default address
                  +e.TD.__blue.__nowrap 0x0e4599a990d32f60402a0f5f4594ddab28e761c9
                  td: strong 25.00&nbsp;#MHC
                  td: strong 00:02:15
                  td
                    +e.__status(title='Core node')
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit
                      +e.__status-unit
                      +e.__status-unit
                      +e.__status-lbl Core node
                  +e.TD.__blue: strong Blockchain info
                tr
                  +e.TD.__nowrap My address #2
                  +e.TD.__nowrap.__blue 0x0e4599a990d32f60402a0f5f4594ddab28e761c9
                  td: strong 5.00&nbsp;#MHC
                  td: strong 00:03:01
                  td
                    +e.__status--active(title='Verified')
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-unit--active
                      +e.__status-lbl Verified
                  +e.TD.__blue: strong Blockchain info
      +b.SECTION.subsection--transparent
        .container-fluid
          +e.HEADER.__header.mb-25
            +e.H2.__title
              +isvg#history.__title-icon
              | History

  +footer('inner').__footer