include helpers/variables
include helpers/mixins

include ../blocks/page/page
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/breadcrumb/breadcrumb
include ../blocks/line-chart/line-chart

- $.title = `${pageList.wallet.title} - ${$.package.description}`;

+page.--theme-dark
  +header.__header
  +e.__main
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid
          .row
            .col-10.mt-40.d-flex.align-items-start
              +b.H1.title.__title #[strong #Meta]Wallet
              +breadcrumb(['My Wallets', 'Transfer', 'History', 'Settings']).__breadcrumb.mt-30.ml-50
            .col-2.mt-10.d-flex.flex-column.align-items-end
              +logo.__logo.mb-35
              +e.NAV.__actions
                +e.A.__actions-item(href=js)
                  +isvg#user.__actions-icon
                  | User Login
      .container-fluid
        +b.NAV.nav-meta.mb-70
          +e.__inner
            +e.A.__item(href=js title='Ethereum')
              +e.DIV.__item-col-1
                +isvg#ethereum.__item-icon
              +e.DIV.__item-col-2
                +e.DIV.__item-title Ethereum
                +e.DIV.__item-num 2.03201
            +e.A.__item--active(href=js title='#Metahash')
              +e.DIV.__item-col-1
                +isvg#metahash.__item-icon
              +e.DIV.__item-col-2
                +e.DIV.__item-title #Metahash
                +e.DIV.__item-num 1,780,320.00
            +e.DIV.__item--disabled(title='Bitcoin')
              +e.DIV.__item-col-1
                +isvg#bitcoin.__item-icon
              +e.DIV.__item-col-2
                +e.DIV.__item-title Bitcoin
                +e.DIV.__item-num 0.00000
            +e.A.__item(href=js title='Bitcoin cash')
              +e.DIV.__item-col-1
                +isvg#bitcoin-cash.__item-icon
              +e.DIV.__item-col-2
                +e.DIV.__item-title Bitcoin cash
                +e.DIV.__item-num 0.52047
      +line-chart({"width": "100%", "height": 210, "fill": "#003D69", "stroke": "url(#line-chart)", "strokeWidth": 2}).--theme-blue
      +b.SECTION.subsection.pb-55
        .container-fluid
          +e.HEADER.__header
            .row.align-items-center
              .col-auto
                +e.H2.__title
                  +isvg#wallet.__title-icon
                  | My Wallets
              .col
                +b.A.btn--light(href=js)
                  +isvg#plus.__icon
                  | Add wallet
              .col-auto
                +b.A.btn--light(href=js)
                  +isvg#import.__icon
                  | Import wallet
              .col-auto
                +b.A.btn--light(href=js)
                  +isvg#backup.__icon
                  | Wallet backup
          .row
            .col-3.pb-20
              +b.wallet
                +e.__head
                  +e.__head-col-1
                  +e.__head-col-2
                +e.__body

      +b.SECTION.subsection--dark
        .container-fluid
          +e.HEADER.__header
            +e.H2.__title
              +isvg#transfer.__title-icon
              | Transfer
      +b.SECTION.subsection--transparent
        .container-fluid
          +e.HEADER.__header
            +e.H2.__title
              +isvg#history.__title-icon
              | History



  +footer('inner').__footer