mixin page
  - attributes.class ? attributes.class += ' no-js' : attributes.class = 'no-js';
  +b.HTML.page&attributes(attributes)(lang='en')
    head
      title= $.title
      // Meta
      meta(charset='utf-8')
      //-meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')
      meta(name='viewport' content='width=1280')
      meta(name='description' content='')
      meta(name='keywords' content='')
      meta(name='author' content='')
      // Favicons
      //-link(rel='icon' type='image/x-icon' href='/favicon.ico')
      // CSS
      link(rel='stylesheet' href=`css/libs${$.isDevelopment ? '' : '.min'}.css`)
      link(rel='stylesheet' href=`css/app${$.isDevelopment ? '' : '.min'}.css`)
      // JS Inline
      // |-Insert svg-symbols
      script
        include ../../vendor/svg-symbols/svg-symbols.js
      // |-Fix object-fit <img>
      script
        include ../../vendor/fit-img/fit-img.js
    +e.BODY.__body
      +e.__body-inner
        block
      // JS
      script(src=`js/libs${$.isDevelopment ? '' : '.min'}.js`)
      script(src=`js/app${$.isDevelopment ? '' : '.min'}.js` async='')